body {
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.container {
    background: #6943FF;
    padding: 40px;
    color: white;
}

#entry {
    padding: 5px 15px;
    background: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
    font-weight: 800;
    font-size: 50px;
    width: 17%;
    text-align: center;
}

#conv {
    padding: 9px 23px;
    background: white;
    border: white;
    border-radius: 3px;
    color: #6943FF;
    font-weight: bold;
    height: 10%;
    font-size: 15px;
    font-weight: 700;
    width: 20%
}

::placeholder {
    color: rgb(152, 146, 158);
    font-size: 50px;
    text-align: center;
}

.description {
    background: #F4F4F4;
    padding: 1px;
}

.converted {
    background: white;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
}

.head {
    color: #5A537B;
    font-weight: 600;
    font-size: 20px;
}